<!DOCTYPE html>
<html>
  <head>
    <title>Robert Bigaignon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Gabriela:regular" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
  </head>

  <body>

    <div class="container">

      <div class="jumbotron">
        <h1 class="my-name">Robert Bigaignon</h1>
        <p class="long-desc">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div>

      <hr>

      <div class="page-sections">
        <nav>
          <a href="resume">Résumé</a> &bull;
          <a href="contact">Contact</a>
        </nav>
      </div>

      <hr>

      <div class="footer">
      </div>

    </div>

</html>