<!DOCTYPE html>
<html>
  <head>
    <title>Robert Bigaignon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Gabriela:regular" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
  </head>

  <body>

    <div class="container">

      {% include 'header.html' %}
      {% include 'footer.html' %}

    </div>

  </body>

</html>